version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - .:/var/www
    networks:
      - laravel-network

  db:
    image: mysql:5.7
    container_name: mysql-container
    environment:
        MYSQL_ROOT_PASSWORD: root  # فقط همین تنظیم کافی است
        MYSQL_DATABASE: laravel
    ports:
      - "3306:3306"
    networks:
      - laravel-network

  nginx:
    image: nginx:latest
    container_name: nginx-container
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www
    ports:
      - "8080:80"
    depends_on:
      - app
    networks:
      - laravel-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container
    environment:
      PMA_HOST: mysql-container # تغییر به نام دقیق سرویس MySQL (در اینجا mysql-container)
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    networks:
      - laravel-network
    depends_on:
      - db

networks:
  laravel-network:
    driver: bridge
